
  
  /* Heading style */
  .site-header h1 {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 20px;
  }
  
  /* Form group styling */
  .form-group {
    margin-bottom: 15px;
    text-align: left;
  }
  
  /* Label styling */
  .form-group label {
    display: block;
    font-size: 14px;
    color: #333;
    margin-bottom: 5px;
  }
  
  /* Select styling */
  .form-group select {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    color: #333;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 4px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
    cursor: pointer;
    transition: border-color 0.3s, box-shadow 0.3s;
    margin-bottom: 0 !important;
  }
  
  /* Select focus and hover effects */
  .form-group select:hover,
  .form-group select:focus {
    border-color: #007BFF;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  }
  
  /* Button styling */
  #find-cards {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #007BFF;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  /* Button hover effect */
  #find-cards:hover {
    background-color: #0056b3;
  }
  
  .results-container {
    margin-top: 30px;
    overflow: scroll;
    height: 395px;
    width: 100%;
}
.results-container-finder {
    width: 70%;
    height: 395px;
    position: relative;
}
.card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: white;
}

.card h3 {
    margin: 0 0 10px;
}

.card p {
    margin: 5px 0;
}
/* General styles for the body */
  
  /* Site header styling */
  .site-header {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 330px;
    text-align: center;
  }
  .card-form-container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: self-end !important;
  }

   /* Loader styles */
.loader {
    margin: 20px auto;
    border: 5px solid #f3f3f3;
    border-top: 5px solid #007BFF;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 9999;
  }
  
  /* Keyframes for spin animation */
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  /* Hidden class to toggle visibility */
  .hidden {
    display: none;
  }
  .results-container-finder-overlay {
    background: rgba(0, 0, 0, 0.5);
  }
  .error-message {
    margin-top: 1px !important;
    font-size: 12px;
    color: red;
  }
  .travel-card-link {
    padding: 5px 15px;
    color: #666;
    background: aquamarine;
    border-radius: 5px;
    font-size: 12px;
    font-weight: bold;
  }
  .Each-card-title {
    display: flex;
    justify-content: space-between;
    align-items: self-start;
  }